body {
  height: 1000vh;
}

section {
  padding-top: 3.5rem;
}

.container-fluid .navbar-brand {
  font-family: "VT323", monospace, sans-serif;
  font-size: 25px;
  padding: 0;
}

.card h5 {
  margin-top: 6em;
}
